h1{
    color: red;
    font-size: 20px;
}
/*
img{
    background-color: red;
    size: 10px;
}*/
.bacon{
    background-color: green;
}
.brocolli{
    background-color: black;
}
#heading{
    color: blue;
}
img:hover{
    background-color: gold;
}